body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

@font-face {
  font-family: 'TTNorms-Thin';
  src: url(./assets/fonts/TTNorms/TTNorms-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'TTNorms-ExtraLigh';
  src: url(./assets/fonts/TTNorms/TTNorms-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'TTNorms-Light';
  src: url(./assets/fonts/TTNorms/TTNorms-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'TTNorms-Regular';
  src: url(./assets/fonts/TTNorms/TTNorms-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'TTNorms-Medium';
  src: url(./assets/fonts/TTNorms/TTNorms-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'TTNorms-Bold';
  src: url(./assets/fonts/TTNorms/TTNorms-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url(./assets/fonts/HKGrotesk/HKGrotesk-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url(./assets/fonts/HKGrotesk/HKGrotesk-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url(./assets/fonts/HKGrotesk/HKGrotesk-Medium.ttf) format('truetype');
}
